<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="col-sm-12 p-1 bg-dark text-white align-middle">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <a class="text-white" id="currentUserLogin" sec:authorize="isAuthenticated()"
                       sec:authentication="principal.username"></a>
                    <a> with roles:</a>
                    <a id="currentUserRoles" sec:authorize="isAuthenticated()"
                       sec:authentication="principal.authorities"></a>
                </div>
                <div class="navbar-brand">
                    <form th:method="post" th:action="@{/logout}" id="logoutForm">
                        <div class="offset-3 align-content-center">
                            <button type="submit" class="btn btn-secondary" form="logoutForm"
                            >Logout
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-2">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#Index">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#CurrentUser">User</a>
                </li>
            </ul>
        </div>

        <div class="col-md-10" style="background: #F2F2F2">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="Index">
                    <h2>Admin panel</h2>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#UserTable">User table</a>
                        </li>
                        <li class="nav-item nav-tabs">
                            <a class="nav-link" data-bs-toggle="tab" href="#NewUser">New User</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="UserTable">
                            <table class="table table-header table-striped align-content-center bg-light uTable"
                                   id="allUsersTable">
                                <thead class="align-content-center">
                                <tr>
                                    <th>Id</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    <th>Delete</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody id="allUsersTableBody">
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="NewUser" style="background: #F2F2F2">
                            <table class="table table-striped bg-white">
                                <tbody class="border">
                                <tr>
                                    <th>Add new user</th>
                                </tr>
                                <tr>
                                    <td>
                                        <form id="createUserForm">
                                            <table class="table text-center">
                                                <div class="form-group text-center">
                                                    <div class="col-sm-4 offset-4">
                                                        <strong>First name</strong>
                                                        <br>
                                                        <input class="form-control"
                                                               type="text"
                                                               id="newUserFirstName"
                                                               name="firstName"
                                                               placeholder="First name"/>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="form-group text-center">
                                                    <div class="col-sm-4 offset-4">
                                                        <strong>Last name</strong>
                                                        <br>
                                                        <input class="form-control"
                                                               type="text"
                                                               id="newUserLastName"
                                                               name="lastName"
                                                               placeholder="Last name"/>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="form-group text-center">
                                                    <div class="col-sm-4 offset-4">
                                                        <strong>Age</strong>
                                                        <br>
                                                        <input class="form-control"
                                                               type="number"
                                                               id="newUserAge"
                                                               name="age"
                                                               placeholder="Age"/>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="form-group text-center">
                                                    <div class="col-sm-4 offset-4">
                                                        <strong>Email</strong>
                                                        <br>
                                                        <input class="form-control"
                                                               type="text"
                                                               id="newUserUsername"
                                                               name="username"
                                                               placeholder="Email"/>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="form-group text-center">
                                                    <div class="col-sm-4 offset-4">
                                                        <strong>Password</strong>
                                                        <br>
                                                        <input class="form-control"
                                                               type="text"
                                                               id="newUserPassword"
                                                               name="password"
                                                               placeholder="Password"/>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="form-group text-center">
                                                    <div class="col-sm-4 offset-4">
                                                        <div class="form-group text-center">
                                                            <strong>Role</strong>
                                                        </div>
                                                        <select multiple="multiple" size="2" name="roles"
                                                                property="rolesOfSelectedUser"
                                                                id="selectRolesForNewUser"
                                                                class="form-control">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div/>
                                            </table>
                                        </form>
                                        <br>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-success" id="createNewUser">
                                                Add new user
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="CurrentUser">
                    <h2>User information page</h2>
                    <table class="table table-header">
                        <tr>
                            <th><h3>About user</h3></th>
                        </tr>
                        <tr>
                            <td>
                                <table class="table table-header table-hover bg-light">
                                    <thead class="align-content-center">
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Roles</th>
                                    </tr>
                                    </thead>
                                    <tbody id="currentUserTableBody">
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="modalEdit" class="modal fade" role="dialog"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Edit user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editUserModalForm" name="editUserModalForm">
                        <div class="form-group text-center">
                            <div class="col-sm-4 offset-4">
                                <strong>ID</strong>
                                <br>
                                <input type="text" disabled class="form-control" name="id">
                            </div>
                        </div>
                        <br>
                        <div class="form-group text-center">
                            <div class="col-sm-4 offset-4">
                                <strong>First Name</strong>
                                <br>
                                <input type="text" id="firstName" name="firstName"
                                       placeholder="First Name"
                                       class="form-control"/>
                            </div>
                        </div>
                        <br/>
                        <div class="form-group text-center">
                            <div class="col-sm-4 offset-4">
                                <strong>Last Name</strong>
                                <br>
                                <input type="text" id="lastName" name="lastName"
                                       placeholder="Last Name"
                                       class="form-control"/>
                            </div>
                        </div>
                        <br/>
                        <div class="form-group text-center">
                            <div class="col-sm-4 offset-4">
                                <strong>Age</strong>
                                <br>
                                <input type="number" id="age" name="age"
                                       placeholder="Age"
                                       class="form-control"/>
                            </div>
                        </div>
                        <br/>
                        <div class="form-group text-center">
                            <div class="col-sm-4 offset-4">
                                <strong>Email</strong>
                                <br>
                                <input type="email" id="username" name="username"
                                       placeholder="Email"
                                       class="form-control"/>
                            </div>
                        </div>
                        <br/>
                        <div class="form-group text-center">
                            <div class="col-sm-4 offset-4">
                                <strong>Password</strong>
                                <br>
                                <input type="text" name="password" id="password"
                                       placeholder="Password"
                                       required
                                       autofocus class="form-control"/>
                            </div>
                        </div>
                        <br>
                        <div class="form-group text-center">
                            <div class="col-sm-4 offset-4">
                                <strong>Role</strong>
                                <br>
                                <select multiple="multiple" size="2" name="roles"
                                        id="rolesEdit" class="form-control">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal" id="closeEditModalWindow">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary" id="updateUser">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalDelete"
     data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalDelete"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-group text-center">
                    <h5 class="modal-title" id="deletemodal">Delete</h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form name="modalDeleteForm" id="modalDeleteForm">
                    <div class="form-group text-center">
                        <div class="col-sm-4 offset-4">
                            <strong>ID</strong>
                            <br>
                            <input type="text" name="id" class="form-control" disabled>
                        </div>
                    </div>
                    <br>
                    <div class="form-group text-center">
                        <div class="col-sm-4 offset-4">

                            <strong>First Name</strong>
                            <br>
                            <input type="text"
                                   name="name" id="firstName1"
                                   disabled class="form-control"/>
                        </div>
                    </div>
                    <br>
                    <div class="form-group text-center">
                        <div class="col-sm-4 offset-4">
                            <strong>Last Name</strong>
                            <br>
                            <input type="text"
                                   name="lastName" id="LastName1"
                                   disabled class="form-control"/>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group text-center">
                        <div class="col-sm-4 offset-4">
                            <strong>Age</strong>
                            <br>
                            <input type="number"
                                   name="age" id="age1"
                                   disabled class="form-control"/>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group text-center">
                        <div class="col-sm-4 offset-4">

                            <strong>Email:</strong>
                            <br>
                            <input type="text"
                                   name="username" id="username1"
                                   disabled class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-sm-4 offset-4">

                            <strong>Password:</strong>
                            <br>
                            <input type="password" name="password"
                                   id="password1"
                                   required
                                   autofocus
                                   disabled class="form-control"/>
                        </div>
                    </div>
                    <br>
                    <div class="form-group text-center">
                        <div class="col-sm-4 offset-4">
                            <strong>Roles:</strong>
                            <select multiple="multiple" name="roles" size="2"
                                    id="rolesDelete"
                                    disabled class="form-control">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal" id="closeDeleteModal">
                    Close
                </button>
                <button type="submit" class="btn btn-danger" id="deleteUser">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Success</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body alert alert-success" id="successBody">
                <a>User created!</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalModalLabel">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body alert alert-block alert-danger" id="errorBody">
                <a>Error!</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeErrorTab">Ok</button>
            </div>
        </div>
    </div>
</div>

<script type="module" src="../static/admin.js"></script>
<script type="module" src="../static/functions.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

</body>
</html>