<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>
</head>
<body>
<br>
<form th:method="post" th:action="@{/admin/createNew}" th:object="${user}">
    <label for="firstName"> Имя: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br/><br/>
    <label for="lastName"> Фамилия: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/><br/>
    <label for="birthDay"> Дата рождения: </label>
    <input type="date" th:field="*{birthDay}" id="birthDay"/>
    <br/><br/>
    <label for="username">Логин</label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/><br/>
    <label for="password">Пароль</label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/><br/>
    <label th:for="${#ids.next('roles')}">Выберите роль:<br/> </label>
    <input type="checkbox" id="${#ids.next('roles')}"
           th:each="role : ${roles}"
           th:text="${role.roleName}"
           th:value="${role.roleId}"
           th:field="*{roles}">
    <br/><br/>
    <input type="submit" value="Добавить"/>
</form>
<br>
<form th:method="GET" th:action="@{/admin}">
    <input type="submit" value="Отмена">
</form>
</body>
</html>