<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<h3>Пользователь# <span th:text="${user.id}"/></h3>
<p>
    Имя:
    <a th:text="${user.getFirstName()}"></a><br/>
    Фамилия:
    <a th:text="${user.getLastName()}"></a><br/>
    Дата рождения:
    <a th:text="${user.getBirthDay()}"></a>
    <br><br>
    Логин:
    <a th:text="${user.getUsername()}"></a><br/>
    Список ролей:
    <tr th:each="role : ${user.getRoles()}">
        <td th:text="${role.roleName}"></td>
    </tr>
</p>
<div th:if="${#request.isUserInRole('ROLE_ADMIN')}">
    <a href="/admin">Вернуться к списку пользователей</a>
    <br/><br/>
</div>

<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
</body>
</html>