<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<h3>Пользователь# <span th:text="${user.id}"/></h3>
<p>
    <a th:text="${user.getFirstName()}"></a>
    <a th:text="${user.getLastName()}"></a>
    <a th:text="${user.getBirthDay()}"></a>
    <br><br>
    <a th:text="${user.getUsername()}"></a>
    <a th:text="${user.getPassword()}"></a>
    <span th:text="${authority}"></span>
    <span th:text="${listRoles}"></span>
</p>
<br>
<a href="/">Вернуться на главную страницу</a>
<a href="/admin">Вернуться к списку пользователей</a>
</body>
</html>